.statistics{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 2px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.title{
    margin: 0;
    padding: 30px;
    font-size: 35px;
    color: #666666;
}

.stat_list{
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0cm;
    height: 70px;
    list-style: none;
    font-size: 20px;
}

.item{
    display: grid;
    padding: 5px;
    width: 100%;
    border: 1px solid #000;
    background-color: red;

}


/* .blue {
    background-color: #55c9e0;
    display: grid;
        padding: 5px;
        width: 100%;
}
.purple {
    background-color: #c771f0;
    display: grid;
        padding: 5px;
        width: 100%;
}
.red {
    background-color: red;
    display: grid;
        padding: 5px;
        width: 100%;
}
.green {
    background-color: #71f0ae;
    display: grid;
        padding: 5px;
        width: 100%;
} */